<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mdhelp.common.mapper.commonCodeMapper">

	<resultMap type="codeVO" id="codeMap">
		<result property="code" column="CODE" />
		<result property="code_name" column="CODE_NAME" />
		<result property="code_group" column="CODE_GROUP" />
		<result property="code_group_name" column="CODE_GROUP_NAME" />
		<result property="code_sort" column="CODE_SORT" />
		<result property="code_value" column="CODE_VALUE" />
	</resultMap>
	
	
	
	<select id="select_code_group_list" resultType="codeVO">
		SELECT
			codeT.CODE				AS code
			, codeT.CODE_NAME		AS code_name
			, codeT.CODE_GROUP		AS code_group
			, codeT.CODE_GROUP_NAME	AS code_group_name
			, codeT.CODE_SORT		AS code_sort
			, codeT.CODE_VALUE		AS code_value
			, codeT.CODE_COMMENT	AS code_comment
			, codeT.CODE_REGDT		AS code_regdt
		FROM
			TBL_COMMON_CODE AS codeT
		GROUP BY
			codeT.CODE_GROUP
			,codeT.CODE_GROUP_NAME
		ORDER BY
			codeT.CODE_REGDT
		DESC
	</select>
	
	<insert id="insert_code_group" parameterType="codeVO">
		INSERT INTO 
			TBL_COMMON_CODE
			(
				  CODE
				, CODE_NAME
				, CODE_GROUP
				, CODE_GROUP_NAME
				, CODE_SORT
				, CODE_VALUE
				, CODE_COMMENT
			) 
		VALUES 
		(
			 #{code}
			,#{code_name}
			,#{code_group}
			,#{code_group_name}
			,#{code_sort}
			,#{code_value}
			,#{code_comment}
		)
	</insert>
	
		<!-- 코드 내용삭제 -->
	<delete id="delete_code_group" parameterType="codeVO">
		DELETE FROM
			TBL_COMMON_CODE
		WHERE
			CODE = #{code}
		AND 
			CODE_GROUP = #{code}
		AND 
		CODE_SORT = 0
	</delete>
	
	
	
	
	
	<select id="select_code_list" parameterType="Map" resultType="codeVO">
		SELECT
			codeT.CODE				AS code
			, codeT.CODE_NAME		AS code_name
			, codeT.CODE_GROUP		AS code_group
			, codeT.CODE_GROUP_NAME	AS code_group_name
			, codeT.CODE_SORT		AS code_sort
			, codeT.CODE_VALUE		AS code_value
			, codeT.CODE_COMMENT	AS code_comment
			, codeT.CODE_REGDT		AS code_regdt
		FROM
			TBL_COMMON_CODE AS codeT
		<where>
			<choose>
				<when test="searchCondition1 !='' and searchCondition1 !=null">
						AND codeT.CODE_GROUP=#{searchCondition1}
					<if test="searchWord != '' and searchWord != null">
						AND codeT.CODE like '%'||#{searchWord,javaType=String,jdbcType=VARCHAR}||'%'
						AND codeT.CODE_NAME like '%'||#{searchWord,javaType=String,jdbcType=VARCHAR}||'%'
						AND codeT.CODE_VALUE like '%'||#{searchWord,javaType=String,jdbcType=VARCHAR}||'%
						AND codeT.CODE_COMMENT like '%'||#{searchWord,javaType=String,jdbcType=VARCHAR}||'%'
					</if>
				</when>
				<when test="searchCondition2 =='code'">
					<if test="searchWord != '' and searchWord != null">
						AND codeT.CODE like '%'||#{searchWord}||'%'
					</if>
				</when>
				<when test="searchCondition2 =='code_name'">
					<if test="searchWord != '' and searchWord != null">
						AND codeT.CODE_NAME like '%'||#{searchWord}||'%'
					</if>
				</when>
				<when test="searchCondition2 =='code_value'">
					<if test="searchWord != '' and searchWord != null">
						AND codeT.CODE_VALUE like '%'||#{searchWord}||'%'
					</if>
				</when>
				<when test="searchCondition2 =='code_comment'">
					<if test="searchWord != '' and searchWord != null">
						AND codeT.CODE_COMMENT like '%'||#{searchWord}||'%'
					</if>
				</when>
				
			</choose>
		</where>
		ORDER BY
			codeT.CODE_GROUP
		DESC,
			codeT.CODE_SORT
		ASC
	</select>
</mapper>