<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="codeDTO" type="kr.mdhelp.common.model.CodeDTO"/>
		<typeAlias alias="apiKeyDTO" type="kr.mdhelp.admin.model.ApiKeyDTO"/>
		<typeAlias alias="memberDTO" type="kr.mdhelp.member.model.MemberDTO"/>
	</typeAliases>
</configuration>
