<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.mdhelp.member.mapper.SignUpMapper">

	
	<insert id="insert_member_info" parameterType="memberDTO" useGeneratedKeys="true" keyProperty="userNumber" >
	INSERT INTO 
		TBL_USER ( USER_ID, PASSWORD, USER_NAME, USER_LEVEL, USER_AUTHENTICAT, USER_ACTIVE ) 
	VALUES 
		(#{id}, #{pwd}, #{fullName}, #{member_level}, #{authenticat_method}, #{account_active})
	</insert>
</mapper>